asgiref
attrs
certifi
cffi
charset-normalizer
colorama
coreapi
coreschema
cryptography
defusedxml
Django
django-cors-headers
django-debug-toolbar
django-extra-fields
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-base64-extra-fields
exceptiongroup
filelock
flake8
flake8-broken-line
flake8-isort
flake8-plugin-utils
flake8-return
future
gevent
greenlet
gunicorn
idna
importlib-metadata
iniconfig
isort
itypes
Jinja2
MarkupSafe
mccabe
oauthlib
packaging
pep8-naming
Pillow
pluggy
progress
psycopg2
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
PySocks
pytest
python-dotenv
python3-openid
pytz
requests
requests-file
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
tldextract
tomli
typing_extensions
tzdata
uritemplate
urllib3
zipp
zope.event
zope.interface
